@page "/admin/products"
@model IndexModel
@{
    ViewData["Title"] = "Danh sách sản phẩm";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="mb-2">
    <a class="btn btn-primary" asp-page="./Create">Thêm mới</a>
</div>
<table class="table">
    <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Giá sản phẩm</th>
        <th>Ảnh sản phẩm</th>
        <th>Danh mục</th>
        <th>Chức năng</th>
    </tr>
    @foreach (var item in Model.categories)
    {
        <tr>
            <td>@item.Code</td>
            <td>@item.Name</td>
            <td>@string.Format("{0:#,0} VNĐ", item.UnitPrice)</td>
            <td> <img src="/Images/sp/@Url.Content(@item.Picture)" alt="@item.Name" /></td>
            <td>@item.Category.Name</td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-productid="@item.Id">Cập nhật</a>
                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-productid="@item.Id">Xóa</a>
            </td>
        </tr>
    }
</table>
