@model List<Clothings_Store.Models.Cart>
@{
    Layout = "~/Views/Shared/_LayoutBS.cshtml";
}

<section class="h-custom" style="background-color: #838383;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-black">Giỏ hàng</h1>
                                        </div>
                                        @foreach (var item in Model)
                                        {
                                            <hr class="my-4">
                                            using (Html.BeginForm("UpdateCart", "Cart", new { @IdCart = item.IdCart }))
                                            {
                                                <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                                        <img src="~/images/sp/@Url.Content(@item.images)"
                                                             class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                                        <h6 class="text-muted">@item.cateName</h6>
                                                        <h6 class="text-black mb-0">
                                                            @item.name - @item.color - @item.size
                                                        </h6>
                                                        <h6 class="text-black mb-0">
                                                            @string.Format("{0:#,0}", item.unitPrice) ₫
                                                        </h6>
                                                    </div>

                                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                        <button class="btn btn-link px-2" type="submit"
                                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                            <i class="fa fa-minus"></i>
                                                        </button>

                                                        <input id="form1" min="1" name="quantity" value="@item.quantity"
                                                               type="number" class="form-control form-control-sm" />

                                                        <button class="btn btn-link px-2" type="submit"
                                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                        <h6 class="mb-0">@string.Format("{0:#,0}", item.totalPrice) ₫</h6>
                                                    </div>
                                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                        <a href="@Url.Action("RemoveFromCart","Cart", new { @IdCart = item.IdCart})"
                                                           class="text-muted">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="container py-5 h-100">
        <div class="row h-100" style="background-color: #ffffff">
            <div class="col-md-8">
                <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Thông tin khách hàng</h3>
                    <hr class="my-4">
                    <div class="row mb-5">
                        <input id="Id" value="" type="hidden" />
                        <div class="col-md-6">
                            <label class="form-label" for="FullName">Full name</label>
                            <input class="form-control" data-val="true" data-val-length="Vui lòng nhập họ tên thật" data-val-length-max="50" data-val-length-min="5" data-val-required="Vui lòng nhập họ tên" id="full_name" name="FullName" placeholder="Họ tên của bạn" type="text" value="">
                            <span class="error text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" data-val="true" data-val-regex="Vui lòng nhập email hợp lệ" data-val-required="Vui lòng nhập Email" id="email" name="Email" placeholder="Email của bạn" type="text" value="">
                            <span class="error text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="phone_number">Phone number</label>
                            <input class="form-control" data-val="true" data-val-regex="Vui lòng nhập số điện thoại hợp lệ" data-val-regex-pattern="^(0[0-9]{9,10})$" data-val-required="Vui lòng nhập số điện thoại" id="phone" name="Phone" placeholder="Số điện thoại của bạn" type="text" value="">
                            <span class="error text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="street">Street Address</label>
                            <input type="text" placeholder="Số nhà và tên đường" class="form-control" id="street" name="street" required>
                            <span class="error text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label" for="city">City</label>
                            <select class="form-select" name="city" id="city" aria-label=".form-select-sm" required>
                                <option value="" selected>Chọn tỉnh thành</option>
                            </select>
                            <span class="error text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="district">District</label>
                            <select class="form-select" name="district" id="district" aria-label=".form-select-sm"
                                    required>
                                <option value="" selected>Chọn quận huyện</option>
                            </select>
                            <span class="error text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="ward">Ward</label>
                            <select class="form-select" name="ward" id="ward" aria-label=".form-select-sm" required>
                                <option value="" selected>Chọn phường xã</option>
                            </select>
                            <span class="error text-danger"></span>
                        </div>
                        <div class="col-12">
                            <input type="hidden" name="address" id="address" />
                            <input type="hidden" name="promo_code" id="promo_code" />
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="payment">Hình thức thanh toán</label>
                            <select class="form-select" name="payment" id="payment" aria-label=".form-select-sm"
                                    required>
                                <option value="1" selected>Thanh toán khi nhận hàng</option>
                                <option value="2">Thanh toán qua ví điện tử Vnpay</option>
                                <option value="3">Thanh toán qua ví điện tử Momo</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="note">Order notes (optional)</label>
                            <textarea id="note" class="form-control" placeholder="Something..." style="height: 100px"
                                      name="note" maxlength="200"> </textarea>
                        </div>
                    </div>
                    <hr class="my-4">
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Tạm tính</h3>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">Sản phẩm: @ViewBag.TotalItems</h5>
                        <h5></h5>
                    </div>

                    <h5 class="text-uppercase mb-3">Mã khuyến mãi</h5>

                    <div class="mb-5">
                        <div class="form-outline">
                            <input type="text" id="promoCode"
                                   class="form-control form-control-lg" />
                            <button type="button" class="btn btn-primary mt-5" data-toggle="modal"
                                    data-target="#myModal">
                                Xem danh sách khuyến mãi
                            </button>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Tổng tiền</h5>

                        @if (Model.Count != 0)
                        {
                            <h5><span id="totalPrice">@string.Format("{0:#,0}", ViewBag.TotalPrice)</span> ₫</h5>
                        }
                        else
                        {
                            <h5><span id="totalPrice">0</span>₫ </h5>
                        }

                    </div>
                    <button type="button" class="btn btn-light btn-block btn-lg" data-mdb-ripple-color="dark"
                            onclick="location.href='@Url.Action("Index","Home")'">
                        Quay về
                    </button>

                    <button class="btn btn-dark btn-block btn-lg submit" id="submit" type="button"
                            onclick="CheckOut()" title="Order">
                        Place order
                    </button>
                </div>
            </div>
        </div>
</section>

@section Scripts {
    <script src="~/myscript/checkout.js" asp-append-version="true"></script>
}
